@charset "UTF-8";
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "intro", sans-serif;
  font-weight: normal;
  font-size: 13px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  color: #000;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

h1 {
  font-size: 49px; }

h2 {
  font-size: 52px;
  text-transform: uppercase;
  font-weight: normal; }

.color {
  color: #fff; }

.hidden {
  display: none; }

.clean {
  padding: 0; }

.clean_left {
  padding-left: 0; }

.my_head {
  background-image: url(../img/bg_head.jpg);
  min-height: 636px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff; }
  .my_head .overlay_head {
    position: absolute;
    width: 100%;
    height: 100%; }
    .my_head .overlay_head .over {
      width: 100%;
      min-height: 636px;
      background-color: rgba(0, 0, 0, 0.32); }
      .my_head .overlay_head .over .blog_wr {
        width: 264px;
        position: absolute;
        top: 84px;
        border: 3px solid #fbfdfd;
        border-left: none;
        -webkit-border-bottom-right-radius: 22px;
                border-bottom-right-radius: 22px;
        -webkit-border-top-right-radius: 22px;
                border-top-right-radius: 22px;
        text-align: right;
        padding: 6px 0;
        -webkit-transition: all .3s ease;
        transition: all .3s ease; }
        .my_head .overlay_head .over .blog_wr a {
          color: #fff;
          text-decoration: underline;
          margin-right: 30px;
          padding: 10px 0; }
        .my_head .overlay_head .over .blog_wr:hover {
          background-color: rgba(255, 255, 255, 0.5); }
          .my_head .overlay_head .over .blog_wr:hover a {
            color: #000;
            text-decoration: none; }
  .my_head .logo_wr {
    margin-top: 14px;
    text-align: center; }
  .my_head .weight_head {
    margin-top: 88px;
    display: inline-block;
    color: #fff;
    width: 126px;
    padding-right: 35px;
    font-size: 13px;
    line-height: 14px;
    text-align: right;
    position: relative; }
    .my_head .weight_head::before {
      content: '';
      position: absolute;
      width: 14px;
      height: 36px;
      background-image: url(../img/icons/ic_arrow_right_top.png);
      top: 3px;
      right: 0; }
  .my_head .title_wr {
    margin-top: 20px; }
    .my_head .title_wr h1 {
      font-weight: normal;
      text-transform: uppercase;
      font-size: 44px;
      line-height: 44px;
      margin: 0;
      margin-bottom: 4px; }
      .my_head .title_wr h1 .first {
        font-size: 49px; }
    .my_head .title_wr h3 {
      font-size: 26px;
      line-height: 32px;
      margin: 0;
      font-weight: normal; }
      .my_head .title_wr h3 span {
        font-size: 22px;
        display: block; }
    .my_head .title_wr p {
      margin-top: 19px; }

.user_wrap {
  margin-top: 86px;
  width: 133px;
  text-align: center; }
  .user_wrap .user_in {
    display: block;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    border: 2px solid white;
    -webkit-border-radius: 22px;
            border-radius: 22px;
    padding: 10px 0 10px 12px;
    margin-bottom: 10px;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
    .user_wrap .user_in::before {
      content: '';
      position: absolute;
      width: 21px;
      height: 21px;
      background-image: url(../img/icons/ic_user.png);
      top: 9px;
      left: 13px; }
    .user_wrap .user_in:hover {
      background-color: rgba(255, 255, 255, 0.5);
      color: #000;
      text-decoration: none; }
  .user_wrap .user_reg {
    display: block;
    color: #fff;
    font-size: 10px; }

.logo {
  width: 130px;
  display: inline-block;
  text-align: center;
  font-size: 11px; }
  .logo h5 {
    font-size: 19px;
    font-weight: normal;
    margin: 0;
    margin-top: 5px;
    line-height: 22px; }

.items_head_wrap {
  margin-top: 25px;
  margin-left: 63px; }

.item_head {
  width: 262px;
  height: 73px;
  border: 2px solid #fbfdfd;
  padding-left: 77px;
  padding-top: 5px;
  font-size: 20px;
  position: relative; }
  .item_head span {
    font-size: 41px; }
  .item_head::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: 9px;
    left: 9px; }
  .item_head::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 15px;
    background-image: url(../img/icons/ic_arrow_head.png);
    top: 27px;
    left: -86px; }

.kalendar_item::before {
  background-image: url(../img/icons/ic_calendar.jpg); }

.weight_item {
  font-size: 12px;
  padding-left: 69px;
  padding-top: 8px;
  margin-top: 15px; }
  .weight_item span {
    font-size: 39px; }
  .weight_item::before {
    background-image: url(../img/icons/ic_weight.jpg); }

.bottom_head_wrap {
  text-align: center;
  position: relative; }
  .bottom_head_wrap::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 54px;
    background-image: url(../img/icons/ic_box.png);
    top: -94px;
    left: 50%;
    margin-left: -19px; }
  .bottom_head_wrap .button_wr {
    margin-top: 44px;
    display: block;
    position: relative;
    left: 13px; }
  .bottom_head_wrap .arrow_down_head {
    display: inline-block;
    width: 39px;
    height: 39px;
    background-image: url(../img/icons/ic_arrow_down.png);
    cursor: pointer;
    margin-top: 49px;
    position: relative;
    left: 14px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 1; }
    .bottom_head_wrap .arrow_down_head:hover {
      opacity: .9; }

.button {
  background-color: #ffe400;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  font-size: 11px;
  color: #000;
  padding: 15px 37px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .button:hover {
    background-color: #fff;
    text-decoration: none;
    color: #000; }

.color_yellow {
  background-color: #ffeb43;
  height: 1445px; }

.s_why {
  position: relative;
  height: 1445px; }
  .s_why .overlay_why {
    position: absolute;
    top: 0;
    width: 100%; }
  .s_why .title_wrap {
    margin-bottom: 50px; }
  .s_why .arrow_down_why {
    cursor: pointer;
    position: absolute;
    bottom: -19px;
    z-index: 5;
    left: 50%;
    margin-left: -19px;
    width: 39px;
    height: 39px;
    display: inline-block;
    background-image: url(../img/icons/ic_arrow_down_bl.png); }

.title_wrap {
  text-align: center; }
  .title_wrap h2 {
    margin-top: 42px;
    margin-bottom: 0;
    line-height: 63px; }
  .title_wrap p {
    font-size: 22px;
    padding: 0 30px;
    margin: 0; }

.item_why .number {
  float: right;
  width: 157px;
  border: 3.07px solid #ffe400;
  font-size: 60px;
  border-right: none;
  text-align: center;
  position: relative; }
  .item_why .number::before {
    content: '';
    position: absolute; }
  .item_why .number .label_map {
    position: absolute;
    bottom: -60px;
    left: -49px;
    font-size: 13px;
    width: 170px; }
    .item_why .number .label_map span {
      display: block;
      font-size: 12px;
      float: right;
      width: 105px;
      text-align: left;
      line-height: 16px;
      font-weight: 500; }
    .item_why .number .label_map::before {
      content: '';
      position: absolute;
      width: 32px;
      height: 30px;
      background-image: url(../img/icons/ic_map.png);
      left: 30px;
      top: 42px; }

.item_why .descr {
  max-width: 383px;
  margin-left: 19px; }
  .item_why .descr h3 {
    font-weight: normal;
    font-size: 22px;
    margin: 23px 0 20px;
    line-height: 28px; }
  .item_why .descr p {
    font-family: "verdana", sans-serif;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 20px; }

.item_why .ic_calendar::before {
  width: 65px;
  height: 70px;
  background-image: url(../img/icons/ic_calendar_ru.png);
  bottom: -57px;
  left: 40px; }

.item_why .label_many::before {
  width: 25px;
  height: 28px;
  background-image: url(../img/icons/ic_rub.png);
  bottom: -25px;
  left: 27px; }

.item_why .label_many::after {
  content: '';
  position: absolute;
  width: 43px;
  height: 38px;
  background-image: url(../img/icons/ic_many.png);
  bottom: -31px;
  left: 62px; }

.item_why .label_box::before {
  width: 60px;
  height: 54px;
  background-image: url(../img/icons/ic_box_black.png);
  bottom: -41px;
  left: 21px; }

.item_why .label_insured::before {
  content: 'застраховано';
  border: 4.88px solid black;
  font-size: 12px;
  padding: 0 5px;
  -webkit-transform: rotate(12deg);
      -ms-transform: rotate(12deg);
          transform: rotate(12deg);
  bottom: -18px;
  left: -2px; }

.s_services {
  min-height: 857px;
  background-image: url(../img/bg_ship.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative; }
  .s_services .overlay {
    position: absolute;
    width: 100%; }
    .s_services .overlay .over {
      width: 100%;
      min-height: 857px;
      background-color: rgba(0, 0, 0, 0.53); }
  .s_services .title_wrap h2 {
    margin-top: 50px; }
  .s_services .descr_serv {
    max-width: 370px;
    font-family: "verdana", sans-serif;
    font-size: 18px;
    margin: 20px auto;
    line-height: 22px;
    text-align: left;
    padding-left: 35px;
    position: relative; }
    .s_services .descr_serv::before {
      content: '';
      position: absolute;
      width: 28px;
      height: 27px;
      background-image: url(../img/icons/ic_galka.png);
      top: 6px;
      left: 0; }
  .s_services .bottom_item_serv {
    width: 24px;
    height: 24px;
    background-color: #000;
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -12px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.items_serv {
  margin-top: 62px;
  margin-bottom: 51px; }

.item_serv {
  width: 260px;
  display: inline-block;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  padding: 45px 0 60px;
  margin: 0 8px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .item_serv:hover {
    background-color: #ffeb43; }
    .item_serv:hover .button {
      background-color: #fff; }
  .item_serv__img {
    height: 72px;
    line-height: 72px; }
  .item_serv p {
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 31px; }
  .item_serv .button {
    font-size: 12px;
    padding: 14px 21px; }

.s_step {
  height: 1285px;
  position: relative;
  text-align: center; }
  .s_step::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 19px solid #fff;
    bottom: -19px;
    left: 50%;
    margin-left: -19px; }
  .s_step .band_over {
    position: absolute;
    width: 100%;
    top: -15px;
    height: 1300px;
    background-image: url(../img/band.png);
    background-size: cover;
    background-position: top left;
    z-index: 3; }
  .s_step .content_step {
    position: relative;
    z-index: 5; }
  .s_step .title_wrap h2 {
    margin-top: 33px; }
  .s_step .title_wrap .arrow_down_step {
    display: inline-block;
    width: 39px;
    height: 39px;
    cursor: pointer;
    background-image: url(../img/icons/ic_arrow_down_yellow.png);
    margin-top: 10px; }
  .s_step .status_step {
    width: 340px;
    display: inline-block;
    text-align: left;
    padding-left: 50px;
    font-size: 17px;
    font-family: "verdanaitalic", sans-serif;
    line-height: 20px;
    position: relative;
    margin-top: 36px;
    margin-right: 21px; }
    .s_step .status_step::before {
      content: '';
      position: absolute;
      width: 33px;
      height: 33px;
      background-image: url(../img/icons/ic_user_bl.png);
      left: 0;
      top: 21px; }
  .s_step .button_wr {
    display: inline-block;
    position: relative;
    top: -13px;
    font-size: 12px; }
    .s_step .button_wr .button:hover {
      background-color: #000;
      color: #fff; }

.items_step {
  margin-top: 44px; }
  .items_step .item_left {
    float: right;
    text-align: right;
    margin-right: 40px; }
    .items_step .item_left h4 {
      font-weight: normal;
      font-size: 24px;
      margin: 0; }
      .items_step .item_left h4 span {
        font-size: 36px; }
    .items_step .item_left p {
      max-width: 355px;
      padding-right: 60px;
      font-family: "verdanabold", sans-serif;
      font-size: 16px;
      float: right;
      margin: 0;
      line-height: 21px;
      position: relative; }
      .items_step .item_left p::before {
        content: '';
        position: absolute; }
  .items_step .item_right {
    margin-left: 40px;
    text-align: left; }
    .items_step .item_right h4 {
      font-weight: normal;
      font-size: 24px;
      margin: 0; }
      .items_step .item_right h4 span {
        font-size: 36px; }
    .items_step .item_right p {
      max-width: 390px;
      padding-left: 60px;
      font-family: "verdanabold", sans-serif;
      font-size: 16px;
      margin: 0;
      line-height: 21px;
      position: relative; }
      .items_step .item_right p::before {
        content: '';
        position: absolute; }
  .items_step .num2 {
    margin-top: 141px; }
    .items_step .num2 p::before {
      width: 43px;
      height: 48px;
      background-image: url(../img/icons/ic_user3.png);
      right: 0;
      top: 5px; }
  .items_step .num1 {
    position: relative; }
    .items_step .num1::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 685px;
      background-image: url(../img/icons/ic_scheme_step.png);
      left: -48px;
      top: 25px; }
    .items_step .num1 p::before {
      width: 46px;
      height: 57px;
      background-image: url(../img/icons/ic_tablet.png);
      left: 0;
      top: 0; }
  .items_step .num3 {
    margin-top: 150px; }
    .items_step .num3 p::before {
      width: 53px;
      height: 37px;
      background-image: url(../img/icons/ic_warehouse.png);
      left: 0;
      top: 0; }
  .items_step .num4 {
    margin-top: 139px; }
    .items_step .num4 p {
      padding-left: 15px; }
      .items_step .num4 p a {
        font-size: 14px;
        color: #060606;
        text-decoration: underline;
        display: block;
        position: relative;
        margin-top: 12px; }
        .items_step .num4 p a::before {
          content: '';
          position: absolute;
          width: 17px;
          height: 12px;
          background-image: url(../img/icons/ic_arrow_left.png);
          top: 6px;
          left: 55px; }
        .items_step .num4 p a:hover {
          text-decoration: none;
          color: #060606; }
      .items_step .num4 p::before {
        width: 38px;
        height: 30px;
        background-image: url(../img/icons/ic_photo.png);
        right: 0;
        top: 10px; }
  .items_step .num5 {
    margin-top: 145px; }
    .items_step .num5 p {
      padding-left: 0; }
      .items_step .num5 p img {
        display: block;
        margin-top: 10px; }
  .items_step .num6 {
    display: inline-block;
    margin-top: 70px; }
    .items_step .num6 p {
      padding-left: 112px;
      margin-top: 12px; }
      .items_step .num6 p::before {
        width: 120px;
        height: 77px;
        background-image: url(../img/weight.png);
        top: 0;
        left: -30px; }

.s_shipping {
  min-height: 647px;
  background-image: url(../img/bg_train.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-bottom: 30px; }
  .s_shipping .title_wrap h2 {
    margin-top: 54px; }
  .s_shipping .button_wrap {
    margin-top: 21px;
    display: inline-block;
    position: relative; }
    .s_shipping .button_wrap::after, .s_shipping .button_wrap::before {
      content: '';
      position: absolute;
      width: 31px;
      height: 50px;
      background-image: url(../img/icons/ic_arrow_right.png);
      top: -36px;
      right: -55px; }
    .s_shipping .button_wrap::before {
      left: -55px;
      -webkit-transform: scale(-1, 1);
          -ms-transform: scale(-1, 1);
              transform: scale(-1, 1); }
    .s_shipping .button_wrap .button {
      font-size: 12px;
      padding: 14px 46px; }

.items_ship {
  margin-top: 27px; }
  .items_ship .tarif .item_ship__white {
    padding: 28px 0;
    font-size: 17px; }

.item_ship {
  width: 265px;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px; }
  .item_ship__white {
    background-color: #fff;
    color: #000;
    height: 140px;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    padding: 20px 0; }
    .item_ship__white h3 {
      font-weight: normal; }
  .item_ship p {
    font-size: 18px;
    text-align: left;
    font-family: "verdanabold", sans-serif;
    margin-top: 15px;
    line-height: 22px;
    padding-left: 15px; }

.s_calculation {
  background-color: #ffeb43;
  padding-bottom: 57px;
  position: relative;
  background-image: url(../img/weight2.png);
  background-repeat: no-repeat;
  background-position: right; }
  .s_calculation .title_wrap h2 {
    margin-top: 59px; }
  .s_calculation .arrow_down_calc {
    position: absolute;
    width: 39px;
    height: 39px;
    background-image: url(../img/icons/ic_arrow_down_bl.png);
    bottom: -19px;
    left: 50%;
    margin-left: -19px;
    cursor: pointer;
    z-index: 5; }

.form_wrap {
  margin-top: 44px; }

.calc_form {
  font-family: "verdana", sans-serif;
  font-size: 14px; }
  .calc_form input, .calc_form textarea {
    padding: 8px 19px;
    background-color: transparent;
    margin-bottom: 15px; }
  .calc_form .left_form {
    width: 235px;
    float: right;
    margin-right: 10px; }
    .calc_form .left_form input, .calc_form .left_form textarea {
      display: block;
      width: 100%;
      border: 3px solid black; }
    .calc_form .left_form input {
      font-size: 15px; }
    .calc_form .left_form textarea {
      height: 140px;
      resize: none; }
  .calc_form .right_form {
    display: inline-block;
    margin-left: 15px;
    margin-top: 1px; }
    .calc_form .right_form input {
      display: block;
      width: 230px;
      border: none;
      margin-bottom: 12px;
      padding: 11px 11px;
      border-bottom: 3px solid black; }
    .calc_form .right_form .long {
      width: 385px; }
    .calc_form .right_form .button {
      border: none;
      background-color: #fff;
      padding: 13px 48px;
      font-size: 12px;
      display: block;
      position: relative;
      margin-top: 46px;
      font-family: "intro", sans-serif; }
      .calc_form .right_form .button:hover {
        background-color: #000;
        color: #fff; }
      .calc_form .right_form .button::before {
        content: '';
        position: absolute;
        width: 31px;
        height: 50px;
        background-image: url(../img/icons/ic_arrow_right_gray.png);
        top: -22px;
        right: -48px; }

.s_company {
  position: relative;
  text-align: center;
  padding-bottom: 90px; }
  .s_company .band_over {
    position: absolute;
    width: 100%;
    top: 187px;
    height: 1590px;
    background-image: url(../img/band.png);
    background-size: cover;
    background-position: top left; }
  .s_company .title_wrap h2 {
    margin-top: 58px; }
  .s_company .title_wrap .title_list {
    display: inline-block;
    margin-left: 93px; }
    .s_company .title_wrap .title_list ul {
      text-align: left;
      margin-top: 12px;
      font-size: 18px;
      font-family: "verdanabold", sans-serif; }
      .s_company .title_wrap .title_list ul li {
        line-height: 24px; }
  .s_company .button_wrap {
    margin-top: 70px;
    display: inline-block; }
    .s_company .button_wrap .button {
      font-size: 12px;
      background-color: #fff;
      display: block;
      padding: 12px 27px;
      position: relative; }
      .s_company .button_wrap .button::before {
        content: '';
        position: absolute;
        width: 31px;
        height: 50px;
        background-image: url(../img/icons/ic_arrow_right_gray.png);
        top: -22px;
        right: -48px; }
      .s_company .button_wrap .button:hover {
        background-color: #000;
        color: #fff; }
  .s_company .arrow_down_company {
    position: absolute;
    width: 39px;
    height: 39px;
    background-image: url(../img/icons/ic_arrow_down_bl.png);
    bottom: -19px;
    left: 50%;
    margin-left: -19px;
    cursor: pointer;
    z-index: 5; }

.items_company {
  margin-top: 18px; }

.item_company {
  display: inline-block;
  max-width: 350px;
  font-size: 18px;
  font-family: "verdana", sans-serif; }
  .item_company__img {
    height: 210px; }
    .item_company__img img {
      width: 100%;
      height: 100%; }
  .item_company h4 {
    font-weight: normal;
    font-family: "intro", sans-serif;
    font-size: 24px;
    margin: 0;
    margin-top: 30px;
    line-height: 21px; }
  .item_company p {
    line-height: 25px;
    margin-bottom: 24px; }

.item_left_company {
  float: right;
  text-align: right;
  margin-right: 12px; }

.item_right_company {
  margin-left: 22px;
  text-align: left;
  float: left; }

.items_foto_company {
  margin-top: 106px;
  margin-bottom: 40px; }

.item_foto_company {
  display: inline-block;
  margin: 0 3px; }
  .item_foto_company h5 {
    font-size: 18px;
    font-weight: normal;
    background-color: #dcdcdc;
    margin-top: 8px;
    line-height: 46px; }

.licence_descr {
  text-align: left;
  margin-left: 45px;
  margin-top: 87px; }
  .licence_descr h3 {
    font-size: 33px;
    margin-bottom: 0; }
  .licence_descr p {
    font-family: "verdana", sans-serif;
    font-size: 18px;
    line-height: 26px;
    margin: 0; }

.license_wrap {
  text-align: right; }

.s_compare {
  background-color: #f5f5f5;
  padding-bottom: 54px; }
  .s_compare .title_wrap {
    margin-bottom: 29px; }
    .s_compare .title_wrap h2 {
      margin-top: 70px; }

.item_compare {
  font-family: "verdana", sans-serif;
  font-size: 16px;
  padding-left: 30px;
  margin-bottom: 10px; }
  .item_compare p {
    margin: 0; }
  .item_compare__title h3 {
    font-size: 26px;
    font-family: "intro", sans-serif;
    margin-bottom: 10px;
    margin-top: 5px;
    position: relative;
    display: inline-block; }
    .item_compare__title h3::before {
      content: '';
      position: absolute;
      width: 50px;
      display: inline-block;
      height: 50px;
      background-color: #ffeb43;
      top: 15px;
      left: -5px;
      z-index: 1; }
    .item_compare__title h3 span {
      font-size: 48px;
      display: inline-block;
      position: relative;
      z-index: 5; }
  .item_compare .item_compare___descr_left {
    font-size: 17px;
    padding-right: 20px;
    line-height: 22px;
    margin-top: 8px; }
  .item_compare .item_compare___descr_right {
    line-height: 22px;
    padding-right: 25px; }
    .item_compare .item_compare___descr_right .button {
      font-size: 12px;
      display: inline-block;
      font-family: "intro", sans-serif;
      position: relative;
      margin: 50px 0 10px;
      padding: 10px 37px; }
      .item_compare .item_compare___descr_right .button:hover {
        background-color: #000;
        color: #fff; }
      .item_compare .item_compare___descr_right .button::before {
        content: '';
        position: absolute;
        width: 31px;
        height: 50px;
        background-image: url(../img/icons/ic_arrow_right_gray.png);
        top: -23px;
        right: -45px; }

.s_pay {
  min-height: 574px;
  background-image: url(../img/bg_auto.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative; }
  .s_pay::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 19px solid #000;
    bottom: -19px;
    left: 50%;
    margin-left: -19px; }
  .s_pay .overlay {
    position: absolute;
    width: 100%; }
    .s_pay .overlay .over {
      width: 100%;
      min-height: 574px;
      background-color: rgba(0, 0, 0, 0.48); }
  .s_pay .title_wrap h2 {
    margin-top: 54px; }

.items_pay {
  margin-top: 18px; }

.item_pay {
  display: inline-block; }
  .item_pay__title {
    display: inline-block;
    width: 200px;
    text-align: left;
    padding-left: 35px;
    font-size: 19px;
    margin-right: 80px;
    line-height: 17px;
    position: relative; }
    .item_pay__title h5 {
      margin: 20px 0; }
    .item_pay__title::before {
      content: '';
      position: absolute;
      width: 28px;
      height: 27px;
      background-image: url(../img/icons/ic_galka.png);
      left: 0;
      top: 20px; }
    .item_pay__title h5 {
      font-weight: normal;
      text-transform: uppercase; }
  .item_pay__descr {
    display: inline-block;
    max-width: 450px;
    font-size: 17px;
    font-family: "verdana", sans-serif;
    line-height: 17px;
    text-align: left; }
    .item_pay__descr p {
      margin-bottom: 5px; }

.s_faq {
  text-align: center;
  padding-bottom: 185px;
  background-image: url(../img/weight3.jpg);
  background-repeat: no-repeat;
  background-position: center bottom; }
  .s_faq .title_wrap h2 {
    margin-top: 79px;
    font-size: 46px;
    margin-bottom: 26px; }
  .s_faq .button_wrap {
    margin-top: 32px;
    display: inline-block;
    position: relative; }
    .s_faq .button_wrap::after, .s_faq .button_wrap::before {
      content: '';
      position: absolute;
      width: 31px;
      height: 50px;
      opacity: .34;
      background-image: url(../img/icons/ic_arrow_right_gray.png);
      top: -36px;
      right: -55px; }
    .s_faq .button_wrap::before {
      left: -55px;
      -webkit-transform: scale(-1, 1);
          -ms-transform: scale(-1, 1);
              transform: scale(-1, 1); }
    .s_faq .button_wrap .button {
      font-size: 12px; }
      .s_faq .button_wrap .button:hover {
        background-color: #000;
        color: #fff; }

.item_faq {
  text-align: left;
  padding-left: 42px;
  font-family: "verdana", sans-serif;
  font-size: 18px;
  position: relative;
  margin-bottom: 40px; }
  .item_faq::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffeb43;
    top: -2px;
    left: 34px;
    z-index: 1; }
  .item_faq h4 {
    font-weight: normal;
    font-size: 22px;
    font-family: "intro", sans-serif;
    margin: 0;
    margin-bottom: 11px;
    position: relative;
    line-height: 26px;
    z-index: 5; }
  .item_faq p {
    margin: 0;
    line-height: 22px;
    margin-bottom: 20px; }
  .item_faq strong {
    display: block;
    position: relative;
    margin-bottom: 20px; }
  .item_faq a {
    color: #000;
    text-decoration: underline; }
    .item_faq a:hover {
      color: #000;
      text-decoration: none; }

.last_item_faq {
  margin-top: 77px; }

.s_question {
  background-color: #ffeb43;
  text-align: center;
  padding-bottom: 88px; }
  .s_question .title_wrap {
    margin-top: 50px; }
    .s_question .title_wrap h2 {
      font-size: 46px; }
    .s_question .title_wrap p {
      font-size: 21px; }
  .s_question .form_wrap {
    display: inline-block; }
    .s_question .form_wrap .input_wrap {
      display: inline-block;
      vertical-align: top;
      width: 235px;
      margin-right: 20px; }
      .s_question .form_wrap .input_wrap input {
        width: 100%;
        border: 3px solid black;
        padding: 8px 19px;
        background-color: transparent;
        margin-bottom: 19px;
        text-transform: capitalize; }
    .s_question .form_wrap .textarea_wrap {
      display: inline-block;
      width: 320px; }
      .s_question .form_wrap .textarea_wrap textarea {
        width: 100%;
        height: 166px;
        resize: none;
        border: 3px solid black;
        padding: 8px 19px;
        background-color: transparent;
        text-transform: capitalize; }
    .s_question .form_wrap .button_wrap {
      margin-top: 35px; }
      .s_question .form_wrap .button_wrap .button {
        border: none;
        background-color: #fff;
        display: inline-block;
        font-size: 12px;
        position: relative;
        padding: 12px 76px; }
        .s_question .form_wrap .button_wrap .button::before {
          content: '';
          position: absolute;
          width: 31px;
          height: 50px;
          background-image: url(../img/icons/ic_arrow_right_gray.png);
          top: -23px;
          right: -45px; }
        .s_question .form_wrap .button_wrap .button:hover {
          background-color: #000;
          color: #fff; }

.s_reviews {
  background-image: url(../img/weight4.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  padding-bottom: 25px; }
  .s_reviews .title_wrap h2 {
    margin-top: 175px;
    font-size: 46px; }
  .s_reviews .slider {
    margin-top: 34px; }
    .s_reviews .slider .slide__img {
      display: inline-block;
      vertical-align: top;
      width: 256px;
      -webkit-border-radius: 10em;
              border-radius: 10em;
      overflow: hidden;
      margin-right: 40px;
      position: relative;
      top: 16px; }
      .s_reviews .slider .slide__img img {
        width: 100%;
        -webkit-border-radius: 10em;
                border-radius: 10em; }
    .s_reviews .slider .slide__descr {
      display: inline-block;
      width: 330px;
      text-align: left; }
      .s_reviews .slider .slide__descr h3 {
        font-size: 22px;
        font-weight: normal;
        margin: 0; }
      .s_reviews .slider .slide__descr span {
        font-size: 14px;
        line-height: 18px; }
      .s_reviews .slider .slide__descr p {
        font-size: 18px;
        line-height: 22px;
        font-family: "verdana", sans-serif;
        margin-top: 4px;
        margin-bottom: 10px; }

.owl-carousel {
  position: relative; }
  .owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    background-image: url(../img/icons/ic_arrow_slider.png);
    width: 67px;
    height: 67px;
    top: 118px; }
  .owl-carousel .owl-controls .owl-nav .owl-prev {
    left: -145px; }
  .owl-carousel .owl-controls .owl-nav .owl-next {
    right: -145px;
    -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
            transform: scale(-1, 1); }

.social {
  background-image: url(../img/bg_footer.jpg);
  min-height: 636px;
  background-size: cover;
  background-position: center;
  text-align: center; }
  .social .logo {
    display: inline-block;
    margin-top: 37px; }
  .social h3 {
    font-weight: normal;
    font-size: 27px;
    margin-top: 43px;
    line-height: 34px;
    margin-bottom: 46px; }
  .social .social_wrap {
    margin-top: 38px; }
    .social .social_wrap img {
      margin: 0 17px; }
  .social p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 30px; }

footer {
  background-color: #d5d5d5;
  text-align: center;
  padding: 69px 0; }
  footer span {
    font-size: 27px; }
  footer p {
    font-size: 18px;
    font-family: "verdana", sans-serif;
    margin-top: 87px;
    margin-bottom: 40px; }
